<!DOCTYPE html>
<html>

<head>
	<title>LMS</title>
	<link rel="stylesheet" href="../public/custom.css">
</head>
<body>
	<h1>All Books</h1>
	<table>
		<tr>
			<th>Book Name</th>
			<th>Book Author</th>
			<th>Book Pages</th>
			<th>Book Price</th>
			<th>Book Availability</th>
			<th>Edit</th>
			<th>Issue</th>
			<th>Return</th>
			<th>Delete</th>
		</tr>
		<% data.forEach(element=> { %>
			<tr>
				<td>
					<%= element.name %>
				</td>
				<td>
					<%= element.author %>
				</td>
				<td>
					<%= element.pages %>
				</td>
				<td>
					<%= element.price %>
				</td>
				<td>
					<%= element.state %>
				</td>
				<td>
					<input type="text" style="display: none;" name="bookName">
					<button type="submit" id="edit-book" data-name="<%= element.name %>" data-author="<%= element.author %>" data-pages="<%= element.pages %>" data-price="<%= element.price %>">Edit</button>
				</td>
				<td>
					<form action="/issue" method="post">
						<input type="text" style="display: none;" name="bookName" value="<%= element.name %>">
						<button type="submit">Issue</button>
					</form>
				</td>
				<td>
					<form action="/return" method="post">
						<input type="text" style="display: none;" name="bookName" value="<%= element.name %>">
						<button type="submit">Return</button>
					</form>
				</td>
				<td>
					<form action="/delete" method="post">
						<input type="text" style="display: none;" name="bookName" value="<%= element.name %>">
						<button type="submit">Delete</button>
					</form>
				</td>
			</tr>
			<% }) %>
	</table>

	<div id="editBookModel" class="modal" style="display: none;">
		<div class="modal-content">
			<span class="close">&times;</span>
			<h2>Edit Item</h2>
			<form action="/edit" method="post" id="editForm">
				<input type="hidden" name="selectedBook" id="hidden-book-title">
				<label for="newBookName">Book Name:</label>
				<input type="text" name="newBookName" id="newBookName">
				<label for="newBookAuthor">Book Author:</label>
				<input type="text" name="newBookAuthor"  id="newBookAuthor">
				<label for="newBookPages">Book Pages:</label>
				<input type="text" name="newBookPages"  id="newBookPages">
				<label for="newBookPrice">Book Price:</label>
				<input type="text" name="newBookPrice"  id="newBookPrice">
				<button type="submit">Save</button>
			</form>
		</div>
	</div>
	<h1>Add Book</h1>

	<form action="/" method="post">
		<input type="text" placeholder="Book Name" name="bookName">
		<input type="text" placeholder="Book Author" name="bookAuthor">
		<input type="text" placeholder="Book Pages" name="bookPages">
		<input type="text" placeholder="Book Price" name="bookPrice">
		<button type="submit">Add</button>
	</form>
	<script type="text/javascript" src="../public/custom.js"></script>
</body>

</html>